

  <header class="main-header">
    <div class="logo-section">
      <h1>BE BETTER</h1>
      <p>— remember you can always improve —</p>
    </div>
     <div class="user-info" *ngIf="username">
    <span class="user-name">{{ username }}</span>
  </div>

    <nav class="nav-bar">
      <ul>
        <li><a routerLink="home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/programmes" routerLinkActive="active">My Learning Path</a></li>
        <li><a href="#">Popular Growth Topics</a></li>
        <li><a href="#">Journeys</a></li>
        <li><a href="#">About Us</a></li>
        <
      </ul>
    </nav>

   
  </header>


