<footer class="footer">
  <div class="footer-top">
    <h3>CONTRACT US</h3>
    <ul class="footer-links">
      <li><a href="#">facebook</a></li>
      <li><a href="#">instagram</a></li>
      <li><a href="#">linkedin</a></li>
      <li><a href="#">github</a></li>
    </ul>
  </div>

  <div class="footer-bottom">
    <div class="footer-left">
      <p>contact info </p>
      <h4>BE BETTER</h4>
    </div>

    <div class="footer-center">
      <a href="#" class="back-top">Back to top</a>
    </div>

    <div class="footer-right">
      <p>MILLINIUM PRODUCTION ©  — All rights reserved</p>
     
    </div>
  </div>
</footer>
