/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('assets/images/background3.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; /* reste fixe quand on scroll */
  background-size: cover; /* image prend toute la taille de l’écran */
  background-color: #f0f0f0; /* couleur de secours si image non chargée */
  font-family: 'Segoe UI', sans-serif;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Ensure main takes the remaining vertical space */
.main-content {
  flex: 1;
  display: block;
  min-height: calc(100vh - 150px); /* footer + header space */
  position: relative;
  z-index: 1;
}

/* Make sure footer always stays below content */
app-footer {
  position: relative;
  z-index: 2;
  background: rgba(0, 0, 0, 0.2);
}
